@import 'color';
@import 'media-queries';

.hero {
    background-color: $light;
  
    &_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: center;
      margin: 0 auto;
      height: 90vh;
      z-index: 1;
      width: 100%;
      max-width: 1200px;
      padding-right: 24px;
      padding-left: 24px;
  
      @include tablet {
        grid-template-columns: 1fr;
        height: 100%;
      }
  
      &_left {
        width: 100%;
        line-height: 1.2;
  
        @include tablet {
          padding: 5rem 0;
        }
  
        @include mobile {
          line-height: 1.5;
        }
      }
  
      &_left h1 {
        font-size: 4rem;
        color: $salamon;
  
        @include mobile {
          font-size: 1.5rem;
        }
      }
  
      &_left p {
        font-size: 2rem;
        color: $dark;
        margin-top: 1rem;
        font-weight: 700;
  
        @include mobile {
          font-size: 1.5rem;
        }
      }
  
      &_btn {
        font-size: 1.4rem;
        background-color: $lime;
        padding: 14px 32px;
        border: none;
        border-radius: 4px;
        color: $light;
        margin-top: 2rem;
        cursor: pointer;
        position: relative;
        transition: all 0.3s ease;
        outline: none;
      }
  
      &_btn:hover {
        background: $red;
        color: $light;
      }
  
      &_right {
        text-align: center;
      }
  
      &_img {
        height: 100%;
        width: 100%;
      }
    }
  }