@import 'color';
@import 'media-queries';

%aline-center {
    display: flex;
    align-items: center;
}

.navbar {
    background: $crimson;
    height: 105px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    z-index: 10;
    position: relative;

    &_logo {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin-left: 10px;
        cursor: pointer;
        @extend %aline-center;
    }
    &_bars {
        opacity: 0;
        cursor: pointer;
        @include tablet {
            color: $dark;
            opacity: 1;
            position: absolute;
            top: 22px;
            font-size: 2rem;
            right: 20px;
        }
    }
    
    &_menu {
        @extend %aline-center;
        list-style: none;
        text-align: center;
        margin-right: 24px;

        @include tablet {
            display: none;
        }

        &_links {
            color: $dark;
            @extend %aline-center;
            justify-content: center;
            text-decoration: none;
            padding: 1rem;
            font-size: 1.2rem;
            cursor: pointer;

            &:hover {
                color: $blue-s;
                transition: all 0.3s ease;
            }
        }
        #button {
            padding: 12px 24px;
            border: none;
            outline: none;
            border-radius: 4px;
            background: $lime;
            margin-left: 16px;
            color: $blue;

            &:hover {
                background: $red;
                color: $dark;
                transition: all 0.3s ease;
            }
        }
    }
}